@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100&display=swap');
.container {
    margin:50px 0;
    font-family: 'Work Sans', sans-serif !important;
}

.card {
    margin: 0 2% !important;
    border-radius: .9rem !important;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.infected {
    border-top: 10px solid rgba(0,0,255,0.5);
    
    
}
.recovered {
    border-bottom: 10px solid rgba(0,255,0,0.5)
}
.deaths {
    border-bottom: 10px solid rgba(255,0,0,0.5)
}

@media(max-width:770px) {
    .card {
    margin: 2% 0 !important
    }
}