@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100&display=swap');
.container {
    margin:50px 0;
    font-family: 'Work Sans', sans-serif !important;
}

.card {
    margin: 0 2% !important;
    border-radius: .9rem !important;
    background-color: #1E212D !important;
    color: #fff !important;
}
.cardContent {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: bold;
    color: #fff !important;
    margin-bottom: .5rem !important;
}

.infected {
    border-top: 10px solid rgba(0,0,255,0.5);
    margin-bottom: .1rem !important;
    
    
}
.recovered {
    border-top: 10px solid rgba(0,255,0,0.5);
    color: #fff !important;
}
.deaths {
    border-top: 10px solid rgba(255,0,0,0.5);
    
}

@media(max-width:770px) {
    .card {
    margin: 2% 0 !important
    }
}