.header {
    font-size: 42px;
    /* background-color: #85FFBD; */
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);   
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  }
  
@media(max-width:573px) {
   .header {
       font-size: 28px;
   }
}
@media(max-width:391px) {
   .header {
       font-size: 23px;
   }
}
@media(max-width:275px) {
    .header {
        font-size: 14.5px;
    }
 }